dealer
sentry-sdk
Django>5.0,<5.1
jsonschema
libcovebods>=0.16.0
libcoveweb2>=0.4.0
gunicorn
django-bootstrap3
flattentool>=0.27.0
pandas
urllib3<2 # selenium (requirements_dev.in) does not support v2 
