# Lock this version of dealer because later versions have a problem - middleware is of wrong style to use with MIDDLEWARE_CLASSES
dealer==2.0.5
Django==1.11.20
# Lock this version of jsonschema, as that's what some of our libraries lock
jsonschema==2.6.0
-e git+https://github.com/OpenDataServices/flatten-tool.git@4c13ef0b32a59e810919a3de09bc8f64ce8f9392#egg=flattentool
-e git+https://github.com/OpenDataServices/lib-cove.git@fe3746eee2e695e94d551ce5bb19f02d8305e6f8#egg=libcove
-e git+https://github.com/openownership/lib-cove-bods.git@819dcf56ff99fdb45a97cddfed0b8a3fde972e6b#egg=libcovebods
-e git+https://github.com/OpenDataServices/lib-cove-web.git@82dbc80309a03812cc2397345a1397ee0f6da4a4#egg=libcoveweb

pytest==4.3.1
pytest-django==3.4.8
flake8==3.7.7
pytest-localserver==0.5.0
selenium==3.141.0
## The following requirements were added by pip freeze:
atomicwrites==1.3.0
attrs==19.1.0
bleach==3.1.0
cached-property==1.5.1
certifi==2019.3.9
chardet==3.0.4
commonmark==0.8.1
contextlib2==0.5.5
django-bootstrap3==11.0.0
django-debug-toolbar==1.11
django-environ==0.4.5
entrypoints==0.3
et-xmlfile==1.0.1
future==0.17.1
idna==2.8
jdcal==1.4
json-merge-patch==0.2
jsonref==0.2
LEPL==5.1.3
lxml==4.3.3
mccabe==0.6.1
more-itertools==6.0.0
openpyxl==2.6.1
pathlib2==2.3.3

pluggy==0.9.0
py==1.8.0
pycodestyle==2.5.0
pyflakes==2.1.1
python-dateutil==2.8.0
pytz==2018.9
raven==6.10.0
requests==2.21.0
rfc3987==1.3.8
rfc6266==0.0.4
schema==0.7.0
six==1.12.0
sqlparse==0.3.0
strict-rfc3339==0.7
urllib3==1.24.1
webencodings==0.5.1
Werkzeug==0.15.1
xmltodict==0.12.0
