# Lock this version of dealer because later versions have a problem - middleware is of wrong style to use with MIDDLEWARE_CLASSES
dealer==2.0.5
Django==1.11.20
-e git+https://github.com/OpenDataServices/flatten-tool.git@4c13ef0b32a59e810919a3de09bc8f64ce8f9392#egg=flattentool
-e git+https://github.com/OpenDataServices/lib-cove.git@7bcec77f9289e405499d871c131b78289d9316cc#egg=libcove
-e git+https://github.com/openownership/lib-cove-bods.git@8540497ca482155babea64ed096ac47697b97e90#egg=libcovebods
-e git+https://github.com/OpenDataServices/lib-cove-web.git@394b1ec89cc2cbd8840278cf1be125ee39db8442#egg=libcoveweb
## The following requirements were added by pip freeze:
bleach==3.1.0
cached-property==1.5.1
certifi==2018.11.29
chardet==3.0.4
commonmark==0.8.1
django-bootstrap3==11.0.0
django-debug-toolbar==1.11
django-environ==0.4.5
et-xmlfile==1.0.1
future==0.17.1
idna==2.8
jdcal==1.4
json-merge-patch==0.2
jsonref==0.2
jsonschema==2.6.0
LEPL==5.1.3
lxml==4.3.1
openpyxl==2.6.0
python-dateutil==2.8.0
pytz==2018.9
raven==6.10.0
requests==2.21.0
rfc3987==1.3.8
rfc6266==0.0.4
schema==0.6.8
six==1.12.0
sqlparse==0.2.4
strict-rfc3339==0.7
urllib3==1.24.1
webencodings==0.5.1
xmltodict==0.12.0
