dealer
Django>2.2,<2.3
# Lock this version of jsonschema, as that's what some of our libraries lock
jsonschema<2.7
-e git+https://github.com/OpenDataServices/flatten-tool.git@357-format-date#egg=flattentool
libcovebods>=0.7.0
-e git+https://github.com/OpenDataServices/lib-cove-web.git@v0.14.0#egg=libcoveweb
