{% load i18n %}

<table class="table">
    <thead>
    <tr>
        <th class="">{% trans 'Check' %}</th>
        <th class="">{% trans 'Information' %}</th>
        <th class="">{% trans 'Where problem occurs' %}</th>
    </tr>
    </thead>
    <tbody>
    {% for additional_check in additional_checks %}
        {% if additional_check.type == 'entity_identifier_scheme_not_known' %}
            <tr>
                <td>
                    {% blocktrans %}<code>scheme</code> is not valid. Check the BODS documentation for guidance on identifiers. {% endblocktrans %}
                </td>
                <td>
                    <code>scheme</code>: {{ additional_check.scheme }}
                </td>
                <td>
                    {{ additional_check.entity_statement }}
                </td>
            </tr>
        {% elif additional_check.type == 'entity_statement_out_of_order' %}
            <tr>
                <td>
                    {% blocktrans %}<code>Entity statement</code> not in correct order. Check that the Entity statement is placed in the array before any statement referencing it.{% endblocktrans %}
                </td>
                <td>
                    <code>{% trans 'Entity statement' %}</code>: {{ additional_check.entity_statement_out_of_order }}
                </td>
                <td>
                    {{ additional_check.seen_in_ownership_or_control_statement }}
                </td>
            </tr>
        {% elif additional_check.type == 'person_statement_out_of_order' %}
            <tr>
                <td>
                    {% blocktrans %}<code>Person statement</code> not in correct order. Check that the Person statement is placed in the array before any statement referencing it.{% endblocktrans %}
                </td>
                <td>
                    <code>{% trans 'Person statement' %}</code>: {{ additional_check.person_statement_out_of_order }}
                </td>
                <td>
                    {{ additional_check.seen_in_ownership_or_control_statement }}
                </td>
            </tr>
        {% elif additional_check.type == 'entity_statement_not_used_in_ownership_or_control_statement' %}
            <tr>
                <td>
                    {% blocktrans %}<code>Entity statement</code> is orphaned. Check whether it should be the <code>subject</code> or <code>interestedParty</code> of a relationship.{% endblocktrans %}
                </td>
                <td>
                </td>
                <td>
                    {{ additional_check.entity_statement }}
                </td>
            </tr>
        {% elif additional_check.type == 'person_statement_not_used_in_ownership_or_control_statement' %}
            <tr>
                <td>
                    {% blocktrans %}<code>Person statement</code> is orphaned. Check whether it should be the <code>interestedParty</code> of a relationship.{% endblocktrans %}
                </td>
                <td>
                </td>
                <td>
                    {{ additional_check.person_statement }}
                </td>
            </tr>
        {% elif additional_check.type == 'entity_statement_missing' %}
            <tr>
                <td>
                    {% blocktrans %}<code>Entity statement</code> is missing. Check whether an Entity statement is incorrectly referenced from <code>interestedParty</code> or <code>subject</code>, or whether an Entity statement is missing.{% endblocktrans %}
                </td>
                <td>
                    <code>{% trans 'Entity statement' %}</code>: {{ additional_check.entity_statement_missing }}
                </td>
                <td>
                    {{ additional_check.seen_in_ownership_or_control_statement }}
                </td>
            </tr>
        {% elif additional_check.type == 'person_statement_missing' %}
            <tr>
                <td>
                    {% blocktrans %}<code>Person statement</code> is missing. Check whether a Person statement is incorrectly referenced from <code>interestedParty</code>, or whether a Person statement is missing.{% endblocktrans %}
                </td>
                <td>
                    <code>{% trans 'Person statement' %}</code>: {{ additional_check.person_statement_missing }}
                </td>
                <td>
                    {{ additional_check.seen_in_ownership_or_control_statement }}
                </td>
            </tr>
        {% elif additional_check.type == 'duplicate_statement_id' %}
            <tr>
                <td>
                    {% blocktrans %}<code>statementId</code> value used in multiple statements. Different statements should not have the same <code>statementId</code> value.{% endblocktrans %}
                </td>
                <td>
                    <code>statementId</code>: {{ additional_check.id }}
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
        {% elif additional_check.type == 'person_birth_year_too_early' %}
            <tr>
                <td>
                    {% blocktrans %}<code>birthDate</code> value is invalid. The year is too far in the past. Check that the date is correct and well formatted.{% endblocktrans %}
                </td>
                <td>
                    <code>birthDate</code> {% trans 'year' %}: {{ additional_check.year }}
                </td>
                <td>
                    {{ additional_check.person_statement }}
                </td>
            </tr>
        {% elif additional_check.type == 'person_birth_year_too_late' %}
            <tr>
                <td>
                    {% blocktrans %}<code>birthDate</code> value is invalid. The date is in the future. Check that the date is correct and well formatted.{% endblocktrans %}
                </td>
                <td>
                    <code>birthDate</code> {% trans 'year' %}: {{ additional_check.year }}
                </td>
                <td>
                    {{ additional_check.person_statement }}
                </td>
            </tr>
        {% elif additional_check.type == 'wrong_address_type_used' and additional_check.statement_type == 'entity' %}
            <tr>
                <td>
                    {% blocktrans %}<code>type</code> of address is invalid in an Entity statement. Check that the category of address assigned is correct.{% endblocktrans %}
                </td>
                <td>
                    <code>type</code>: {{ additional_check.address_type }}
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
        {% elif additional_check.type == 'wrong_address_type_used' and additional_check.statement_type == 'person' %}
            <tr>
                <td>
                    {% blocktrans %}<code>type</code> of address is invalid in a Person statement. Check that the address type is correct.{% endblocktrans %}
                </td>
                <td>
                    <code>type</code>: {{ additional_check.address_type }}
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
        {% elif additional_check.type == 'alternative_address_with_no_other_address_types' and additional_check.statement_type == 'entity' %}
            <tr>
                <td>
                    {% blocktrans %}<code>type</code> of address is 'alternative' when no other addresses are published. Check that the address type is correct.{% endblocktrans %}
                </td>
                <td>

                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
        {% elif additional_check.type == 'alternative_address_with_no_other_address_types' and additional_check.statement_type == 'person' %}
            <tr>
                <td>
                    {% blocktrans %}<code>type</code> of address is 'alternative' when no other addresses are published. Check that the address type is correct.{% endblocktrans %}
                </td>
                <td>

                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
        {% elif additional_check.type == 'component_statement_id_not_in_package' %}
            <tr>
                <td>
                    {% blocktrans %}<code>componentStatementIDs</code> contains a <code>statementID</code> not included in this dataset. Check that this is expected.{% endblocktrans %}
                </td>
                <td>
                    <code>statementID</code>: {{ additional_check.component_statement_id }}
                </td>
                <td>
                    {{ additional_check.seen_in_ownership_or_control_statement }}
                </td>
            </tr>
        {% elif additional_check.type == 'ownership_or_control_statement_has_is_compontent_and_component_statement_ids' %}
            <tr>
                <td>
                    {% blocktrans %}<code>Ownership-or-control statement</code> has an <code>isComponent</code> value ('true') incompatible with having its own components in <code>componentStatementIDs</code>.{% endblocktrans %}
                </td>
                <td>
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
        {% elif additional_check.type == 'statement_is_component_but_not_used_in_component_statement_ids' and additional_check.statement_type == 'person'  %}
            <tr>
                <td>
                    {% blocktrans %}<code>Person statement</code> has an <code>isComponent</code> value of 'true' but does not appear in any <code>componentStatementIDs</code> list. Check that this is expected.{% endblocktrans %}
                </td>
                <td>
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
        {% elif additional_check.type == 'statement_is_component_but_not_used_in_component_statement_ids' and additional_check.statement_type == 'entity'  %}
            <tr>
                <td>
                    {% blocktrans %}<code>Entity statement</code> has an <code>isComponent</code> value of 'true' but does not appear in any <code>componentStatementIDs</code> list. Check that this is expected.{% endblocktrans %}
                </td>
                <td>
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
        {% elif additional_check.type == 'statement_is_component_but_not_used_in_component_statement_ids' and additional_check.statement_type == 'ownership_or_control'  %}
            <tr>
                <td>
                    {% blocktrans %}<code>Ownership-or-control statement</code> has an <code>isComponent</code> value of 'true' but does not appear in any <code>componentStatementIDs</code> list. Check that this is expected.{% endblocktrans %}
                </td>
                <td>
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
        {% elif additional_check.type == 'statement_is_component_but_is_after_use_in_component_statement_id' and additional_check.statement_type == 'person'  %}
            <tr>
                <td>
                    {% blocktrans %}<code>Person statement</code> not in correct order. As a component (<code>isComponent</code> 'true'), it must appear <strong>before</strong> the primary Ownership-or-control statement that references it (from <code>componentStatementIDs</code></).{% endblocktrans %}
                </td>
                <td>
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
        {% elif additional_check.type == 'statement_is_component_but_is_after_use_in_component_statement_id' and additional_check.statement_type == 'entity'  %}
            <tr>
                <td>
                    {% blocktrans %}<code>Entity statement</code> not in correct order. As a component (<code>isComponent</code> 'true'), it must appear <strong>before</strong> the primary Ownership-or-control statement that references it (from <code>componentStatementIDs</code></).{% endblocktrans %}
                </td>
                <td>
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
        {% elif additional_check.type == 'statement_is_component_but_is_after_use_in_component_statement_id' and additional_check.statement_type == 'ownership_or_control'  %}
            <tr>
                <td>
                    {% blocktrans %}<code>Ownership-or-control statement</code> not in correct order. As a component (<code>isComponent</code> 'true'), it must appear <strong>before</strong> the primary Ownership-or-control statement that references it (from <code>componentStatementIDs</code></).{% endblocktrans %}
                </td>
                <td>
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
     {% elif additional_check.type == 'inconsistent_schema_version_used' and additional_check.statement_type == 'person' %}
            <tr>
                <td>
                    {% blocktrans %}<code>bodsVersion</code> is different than that in the first statement of the dataset. Check that the schema versions are compatible.{% endblocktrans %}
                </td>
                <td>
                    <code>bodsVersion</code>: {{ additional_check.schema_version }}
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
        {% elif additional_check.type == 'inconsistent_schema_version_used' and additional_check.statement_type == 'entity' %}
            <tr>
                <td>
                    {% blocktrans %}<code>bodsVersion</code> is different than that in the first statement of the dataset. Check that the schema versions are compatible.{% endblocktrans %}
                </td>
                <td>
                    {% trans 'Schema Version Used' %}: {{ additional_check.schema_version }}
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
        {% elif additional_check.type == 'inconsistent_schema_version_used' and additional_check.statement_type == 'ownership_or_control' %}
            <tr>
                <td>
                    {% blocktrans %}<code>bodsVersion</code> is different than that in the first statement of the dataset. Check that the schema versions are compatible.{% endblocktrans %}
                </td>
                <td>
                    {% trans 'Schema Version Used' %}: {{ additional_check.schema_version }}
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
        {% elif additional_check.type == 'unknown_schema_version_used' %}
            <tr>
                <td>
                    {% blocktrans %}<code>bodsVersion</code> not valid. Check that the value is correctly formatted.{% endblocktrans %}
                </td>
                <td>
                    <code>bodsVersion</code>: {{ additional_check.schema_version }}
                </td>
                <td>
                </td>
            </tr>
        {% elif additional_check.type == 'statement_is_beneficialOwnershipOrControl_but_no_person_specified' %}
            <tr>
                <td>
                    {% blocktrans %}<code>Ownership-or-control statement</code> asserts <code>beneficialOwnershipOrControl</code> is 'true' but <code>interestedParty</code> does not reference a Person statement. Check that information is correctly represented.{% endblocktrans %}
                </td>
                <td>
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
        {% elif additional_check.type == 'statement_entity_type_and_entity_sub_type_do_not_align' %}
            <tr>
                <td>
                    {% blocktrans %}<code>entitySubtype</code> is not valid for the specified <code>entityType</code>.{% endblocktrans %}
                </td>
                <td>
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
        {% elif additional_check.type == 'has_public_listing_information_but_has_public_listing_is_false' %}
            <tr>
                <td>
                    {% blocktrans %}<code>hasPublicListing</code> has incorrect value. Value of <code>companyFilingsURLs</code> or <code>securitiesListings</code> suggests <code>hasPublicListing</code> must be 'true'.{% endblocktrans %}
                </td>
                <td>
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
        {% elif additional_check.type == 'entity_security_listing_market_identifier_code_set_but_not_operating_market_identifier_code' %}
            <tr>
                <td>
                    {% blocktrans %}<code>operatingMarketIdentifierCode</code> should be set alongside <code>marketIdentifierCode</code>.{% endblocktrans %}
                </td>
                <td>
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
        {% elif additional_check.type == 'entity_security_listing_operating_market_identifier_code_set_but_not_market_identifier_code' %}
            <tr>
                <td>
                    {% blocktrans %}<code>marketIdentifierCode</code> should be set alongside <code>operatingMarketIdentifierCode</code>.{% endblocktrans %}
                </td>
                <td>
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
        {% elif additional_check.type == 'has_pep_details_without_missing_info_but_incorrect_pep_status' %}
            {# Currently this applies to 0.2 only #}
            <tr>
                <td>
                    {% blocktrans %}<code>hasPepStatus</code> has incorrect value. <code>pepStatusDetails</code> are substantive, suggesting that <code>hasPepStatus</code> should be 'true'.{% endblocktrans %}
                </td>
                <td>
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
        {% elif additional_check.type == 'has_pep_details_but_incorrect_pep_status' %}
            {# Currently this applies to 0.3+ only #}
            <tr>
                <td>
                    {% blocktrans %}<code>politicalExposure.status</code> has incorrect value. <code>politicalExposure.details</code> are substantive, suggesting that <code>politicalExposure.status</code> should be 'isPep'.{% endblocktrans %}
                </td>
                <td>
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
        {% elif additional_check.type == 'has_pep_details_with_missing_info_but_incorrect_pep_status' %}
            {# Currently this applies to 0.2 and 0.3+ #}
            <tr>
                <td>
                    {% if schema_version_used == '0.2' %}
                        {% blocktrans %}<code>hasPepStatus</code> has incorrect value. <code>pepStatusDetails</code> contains <code>missingInfoReason</code>, suggesting that <code>hasPepStatus</code> should have no value.{% endblocktrans %}
                    {% else %}
                        {% blocktrans %}<code>politicalExposure.status</code> has incorrect value. <code>politicalExposure.details</code> contains <code>missingInfoReason</code>, suggesting that <code>status</code> should be 'unknown'.{% endblocktrans %}
                    {% endif %}
                </td>
                <td>
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
        {% elif additional_check.type == "statement_annotation_creation_date_is_future_date" %}
            {# Currently this applies to 0.4+ #}
            <tr>
                <td>
                    {% blocktrans %}<code>creationDate</code> of an annotation is in the future. Check that dates are correctly generated and well formatted.{% endblocktrans %}
                </td>
                <td>
                    <code>creationDate</code>: {{ additional_check.creation_date }}
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
        {% elif additional_check.type == "statement_publication_date_is_future_date" %}
            {# Currently this applies to 0.4+ #}
            <tr>
                <td>
                    {% blocktrans %}<code>publicationDate</code> is in the future. Check that dates are correctly generated and well formatted.{% endblocktrans %}
                </td>
                <td>
                    <code>publicationDate</code>: {{ additional_check.publication_date }}
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
        {% elif additional_check.type == "statement_entity_is_component_not_in_component_details" %}
            {# Currently this applies to 0.4+ #}
            <tr>
                <td>
                    {% blocktrans %}<code>Entity statement</code> has an <code>isComponent</code> value of 'true' but appears in the <code>componentRecords</code> list of no later Relationship statement in the dataset. Check that component records are correctly listed and that statements are in the correct order.{% endblocktrans %}
                </td>
                <td>
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
        {% elif additional_check.type == "statement_person_is_component_not_in_component_details" %}
            {# Currently this applies to 0.4+ #}
            <tr>
                <td>
                    {% blocktrans %}<code>Person statement</code> has an <code>isComponent</code> value of 'true' but appears in the <code>componentRecords</code> list of no later Relationship statement in the dataset. Check that component records are correctly listed and that statements are in the correct order.{% endblocktrans %}
                </td>
                <td>
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
        {% elif additional_check.type == "statement_relationship_is_component_not_in_component_details" %}
            {# Currently this applies to 0.4+ #}
            <tr>
                <td>
                    {% blocktrans %}<code>Relationship statement</code> has an <code>isComponent</code> value of 'true' but appears in the <code>componentRecords</code> list of no later Relationship statement in the dataset. Check that component records are correctly listed and that statements are in the correct order.{% endblocktrans %}
                </td>
                <td>
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
        {% elif additional_check.type == "statement_source_retrieved_at_future_date" %}
            {# Currently this applies to 0.4+ #}
            <tr>
                <td>
                    {% blocktrans %}<code>retrievedAt</code> is in the future. Check that dates are correctly generated and well formatted.{% endblocktrans %}
                </td>
                <td>
                    <code>retrievedAt</code>: {{ additional_check.retrieval_date }}
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
        {% elif additional_check.type == "statement_date_is_future_date" %}
            {# Currently this applies to 0.4+ #}
            <tr>
                <td>
                    {% blocktrans %}<code>statementDate</code> is in the future. Check that dates are correctly generated and well formatted.{% endblocktrans %}
                </td>
                <td>
                    <code>statementDate</code>: {{ additional_check.statement_date }}
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
        {% elif additional_check.type == "statement_person_birth_date_in_future" %}
            {# Currently this applies to 0.4+ #}
            <tr>
                <td>
                    {% blocktrans %}<code>birthDate</code> is in the future. Check that dates are correctly generated and well formatted.{% endblocktrans %}
                </td>
                <td>
                    <code>birthDate</code>: {{ additional_check.birth_date }}
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
        {% elif additional_check.type == "statement_person_birth_date_too_far_in_past" %}
            {# Currently this applies to 0.4+ #}
            <tr>
                <td>
                    {% blocktrans %}<code>birthDate</code> is before 1800. Check that dates are correctly generated and well formatted.{% endblocktrans %}
                </td>
                <td>
                    <code>birthDate</code>: {{ additional_check.birth_date }}
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
        {% elif additional_check.type == "statement_entity_dissolution_before_founding_date" %}
            {# Currently this applies to 0.4+ #}
            <tr>
                <td>
                    {% blocktrans %}<code>foundingDate</code> is later than <code>dissolutionDate</code>. Check that dates are correctly generated and well formatted.{% endblocktrans %}
                </td>
                <td>
                    <code>foundingDate</code>: {{ additional_check.founding_date }} <br>
                    <code>dissolutionDate</code>: {{ additional_check.dissolution_date }}
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
        {% elif additional_check.type == "statement_person_death_date_not_sensible_value" %}
            {# Currently this applies to 0.4+ #}
            <tr>
                <td>
                    {% blocktrans %}<code>deathDate</code> is incorrect. Check that dates are correctly generated and well formatted.{% endblocktrans %}
                </td>
                <td>
                    <code>deathDate</code>: {{ additional_check.death_date }}
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
        {% elif additional_check.type == "statement_relationship_interests_start_after_end_date" %}
            {# Currently this applies to 0.4+ #}
            <tr>
                <td>
                    {% blocktrans %}<code>startDate</code> is later than <code>endDate</code> in an Interest. Check that dates are correctly generated and well formatted.{% endblocktrans %}
                </td>
                <td>
                    <code>startDate</code>: {{ additional_check.start_date }} <br>
                    <code>endDate</code>: {{ additional_check.end_date }}
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
        {% elif additional_check.type == "statement_entity_securities_listings_haspubliclisting_is_false" %}
            {# Currently this applies to 0.4+ #}
            <tr>
                <td>
                    {% blocktrans %}<code>hasPublicListing</code> has incorrect value. Value of <code>securitiesListings</code> suggests <code>hasPublicListing</code> must be 'true'.{% endblocktrans %}
                </td>
                <td>
                    <code>securitiesListings</code>: {{ additional_check.securities_listings }}
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
        {% elif additional_check.type == "statement_relationship_interests_exact_has_min_max" %}
            {# Currently this applies to 0.4+ #}
            <tr>
                <td>
                    {% blocktrans %}<code>share.exact</code> is provided, alongside a range (minimum and maximum values). Provide either an exact value, or a range.{% endblocktrans %}
                </td>
                <td>
                    <code>share.exact</code>: {{ additional_check.share }}
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
        {% elif additional_check.type == "statement_relationship_interests_not_exact_max_greater_than_min" %}
            {# Currently this applies to 0.4+ #}
            <tr>
                <td>
                    {% blocktrans %}<code>share</code> is an invalid range. The maximum value is less than the minimum value.{% endblocktrans %}
                </td>
                <td>
                    <code>share</code> {% trans '(exclusive) minimum' %}: {{ additional_check.minval }} <br>
                    <code>share</code> {% trans '(exclusive) maximum' %}: {{ additional_check.maxval }}
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
        {% elif additional_check.type == "statement_relationship_interests_exact_max_equals_min" %}
            {# Currently this applies to 0.4+ #}
            <tr>
                <td>
                    {% blocktrans %}<code>share</code> is an invalid range. The maximum value is the same as the minimum value.{% endblocktrans %}
                </td>
                <td>
                    <code>share</code> {% trans '(exclusive) minimum' %}: {{ additional_check.minval }} <br>
                    <code>share</code> {% trans '(exclusive) maximum' %}: {{ additional_check.maxval }}
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
        {% elif additional_check.type == "statement_relationship_interests_share_min_and_exclusivemin" %}
            {# Currently this applies to 0.4+ #}
            <tr>
                <td>
                    {% blocktrans %}<code>share</code> is an invalid range. Only one of <code>minimum</code> and <code>exclusiveMinimum</code> must be provided.{% endblocktrans %}
                </td>
                <td>
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
        {% elif additional_check.type == "statement_relationship_interests_share_max_and_exclusivemax" %}
            {# Currently this applies to 0.4+ #}
            <tr>
                <td>
                    {% blocktrans %}<code>share</code> is an invalid range. Only one of <code>maximum</code> and <code>exclusiveMaximum</code> must be provided.{% endblocktrans %}
                </td>
                <td>
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
        {% elif additional_check.type == "statement_declaration_subject_not_exist" %}
            {# Currently this applies to 0.4+ #}
            <tr>
                <td>
                    {% blocktrans %}<code>declarationSubject</code> does not appear in the dataset. Check that the dataset is complete, or that this is expected.{% endblocktrans %}
                </td>
                <td>
                    <code>declarationSubject</code>: {{ additional_check.declaration_subject }}
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
         {% elif additional_check.type ==  "statement_declaration_subject_not_entity_person" %}
            {# Currently this applies to 0.4+ #}
            <tr>
                <td>
                    {% blocktrans %}<code>declarationSubject</code> must be an entity or person. Check that <code>recordId</code> values are being correctly generated and used.{% endblocktrans %}
                </td>
                <td>
                    <code>declarationSubject</code>: {{ additional_check.record_id }} <br>
                    <code>recordType</code> of {{ additional_check.record_id }}: {{ additional_check.record_type }}
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
         {% elif additional_check.type == "multiple_statements_in_series_with_record_status_new" %}
            {# Currently this applies to 0.4+ #}
            <tr>
                <td>
                    {% blocktrans %}<code>recordStatus</code> reported as 'new' in multiple Statements for a single Record. Check that <code>recordStatus</code> is ‘new’ only the first time a Statement is published for the record.{% endblocktrans %}
                </td>
                <td>
                    <code>recordId</code>: {{ additional_check.record_id }}
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
         {% elif additional_check.type == "statement_with_record_status_new_must_be_first" %}
            {# Currently this applies to 0.4+ #}
            <tr>
                <td>
                    {% blocktrans %}<code>statementDate</code> too early. <code>recordStatus</code> is 'updated' or 'closed' but <code>statementDate</code> is earlier than that of corresponding 'new' Statement.{% endblocktrans %}
                </td>
                <td>
                    <code>recordId</code>: {{ additional_check.record_id }} <br>
                    <code>statementId</code>: {{ additional_check.statement_id }}
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
         {% elif additional_check.type == "multiple_statements_in_series_with_record_status_closed" %}
            {# Currently this applies to 0.4+ #}
            <tr>
                <td>
                    {% blocktrans %}<code>recordStatus</code> reported as 'closed' in multiple Statements for a single Record. Check that <code>recordStatus</code> is 'closed' only the final time a Statement is published for a record.{% endblocktrans %}
                </td>
                <td>
                    <code>recordId</code>: {{ additional_check.record_id }}
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
         {% elif additional_check.type == "statement_with_record_status_closed_must_be_last" %}
            {# Currently this applies to 0.4+ #}
            <tr>
                <td>
                    {% blocktrans %}<code>statementDate</code> too late. <code>recordStatus</code> is 'new' or 'updated' but <code>statementDate</code> is later than that of corresponding 'closed' Statement.{% endblocktrans %}
                </td>
                <td>
                    <code>recordId</code>:: {{ additional_check.record_id }} <br>
                    <code>statementId</code>:: {{ additional_check.statement_id }}
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
         {% elif additional_check.type == "statements_in_series_with_different_record_types" %}
            {# Currently this applies to 0.4+ #}
            <tr>
                <td>
                    {% blocktrans %}<code>recordType</code> varies across Statements for the same record. Check that Statements relating to the same record must all have the same type.{%endblocktrans%}
                </td>
                <td>
                    <code>recordId</code>: {{ additional_check.record_id }}
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
         {% elif additional_check.type == "component_record_is_statement_id" %}
            {# Currently this applies to 0.4+ #}
            <tr>
                <td>
                    {% blocktrans %}<code>componentRecords</code> contains a statement ID value. <code>componentRecords</code> entries must be record IDs.{% endblocktrans %}
                </td>
                <td>
                    <code>componentRecords</code>: {{ additional_check.component_id }}
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
         {% elif additional_check.type == "component_record_id_not_in_dataset" %}
            {# Currently this applies to 0.4+ #}
            <tr>
                <td>
                    {% blocktrans %}<code>componentRecords</code> contains a <code>recordId</code> not included in this dataset. Check that this is expected.{% endblocktrans %}
                </td>
                <td>
                    <code>componentRecords</code>: {{ additional_check.component_id }}
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
         {% elif additional_check.type == "subject_must_be_record_id" %}
            {# Currently this applies to 0.4+ #}
            <tr>
                <td>
                    {% blocktrans %}<code>subject</code> has unexpected value. <code>subject</code> must be either a record ID for a Statement in the dataset or an Unspecified Record object.{% endblocktrans %}
                </td>
                <td>
                    <code>subject</code>: {{ additional_check.subject }}
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
         {% elif additional_check.type == "subject_can_only_refer_to_entity" %}
            {# Currently this applies to 0.4+ #}
            <tr>
                <td>
                    {% blocktrans %}<code>subject</code> must be the <code>recordId</code> of an entity (not a person or relationship). Check that <code>recordId</code> values are being correctly generated and used.{% endblocktrans %}
               </td>
                <td>
                    <code>subject</code>: {{ additional_check.subject }}
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
        {% elif additional_check.type == "interested_party_must_be_record_id" %}
            {# Currently this applies to 0.4+ #}
            <tr>
                <td>
                    {% blocktrans %}<code>interestedParty</code> not recognised. Check that the value matches a <code>recordId</code> in the dataset or is an Unspecified Record object.{% endblocktrans %}
                </td>
                <td>
                    <code>interestedParty</code>: {{ additional_check.interested_party }}
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
        {% elif additional_check.type == "interested_party_can_only_refer_to_entity_or_person" %}
            {# Currently this applies to 0.4+ #}
            <tr>
                <td>
                    {% blocktrans %}<code>interestedParty</code> is invalid. The value should be a <code>recordId</code> for a person or an entity in the dataset (not a relationship).{% endblocktrans %}
                </td>
                <td>
                    <code>interestedParty</code>: {{ additional_check.interested_party }}
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
        {% elif additional_check.type == "interest_beneficial_ownership_interested_party_not_person" %}
            {# Currently this applies to 0.4+ #}
            <tr>
                <td>
                    {% blocktrans %}<code>beneficialOwnershipOrControl</code> is 'true' but <code>interestedParty</code> is not a person. Check that the interested party is correct and that <code>beneficialOwnershipOrControl</code> is used correctly.{% endblocktrans %}
                </td>
                <td>
                    <code>interestedParty</code>: {{ additional_check.interested_party }}
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
        {% elif additional_check.type == "annotation_statement_pointer_target_invalid"  %}
            {# Currently this applies to 0.4+ #}
            <tr>
                <td>
                    {% blocktrans %}<code>statementPointerTarget</code> is invalid. Check that it is a valid JSON pointer and that it points to an existing field in the Statement.{% endblocktrans %}
                </td>
                <td>
                    <code>statementPointerTarget</code>: {{ additional_check.pointer }}
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
        {% elif additional_check.type == "relationship_interests_subject_should_be_entity_nomination_arrangement" %}
            {# Currently this applies to 0.4+ #}
            <tr>
                <td>
                    {% blocktrans %}<code>subject</code> has unexpected type. Interests in this Relationship statement suggest that the subject's <code>entityType.subtype</code> should be 'nomination'.{% endblocktrans %}
                </td>
                <td>
                    <code>entityType.subtype</code>: {{ additional_check.subject_record_subtype }}
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
        {% elif additional_check.type == "relationship_interests_subject_should_be_entity_trust" %}
            {# Currently this applies to 0.4+ #}
            <tr>
                <td>
                    {% blocktrans %}<code>subject</code> has unexpected type. Interests in this Relationship statement suggest that the subject's <code>entityType.subtype</code> should be 'trust'.{% endblocktrans %}
                </td>
                <td>
                    <code>entityType.subtype</code>: {{ additional_check.subject_record_subtype }}
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
        {% elif additional_check.type == "relationship_subject_not_before_relationship_in_dataset" %}
            {# Currently this applies to 0.4+ #}
            <tr>
                <td>
                    {% blocktrans %}<code>subject</code> not found. The subject must match the <code>recordId</code> of at least one prior Statement in the dataset. Check that Statements are ordered correctly.{% endblocktrans %}
                </td>
                <td>
                    <code>subject</code>: {{ additional_check.subject_id }}
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
        {% elif additional_check.type == "relationship_interested_party_not_before_relationship_in_dataset" %}
            {# Currently this applies to 0.4+ #}
            <tr>
                <td>
                    {% blocktrans %}<code>interestedParty</code> not found. The interested party must match the <code>recordId</code> of at least one prior Statement in the dataset. Check that Statements are ordered correctly.{% endblocktrans %}
                </td>
                <td>
                    <code>interestedParty</code>: {{ additional_check.interested_party_id }}
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
        {% elif additional_check.type == "person_identifiers_invalid_composition" %}
            {# Currently this applies to 0.4+ #}
            <tr>
                <td>
                    {% blocktrans %}<code>scheme</code> has incorrect formatting. Check the field description for guidance.{% endblocktrans %}
                </td>
                <td>
                    <code>scheme</code>: {{ additional_check.scheme }}
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
        {% elif additional_check.type ==  "person_identifiers_no_valid_iso_3166_1_alpha_3_code" %}
            {# Currently this applies to 0.4+ #}
            <tr>
                <td>
                    {% blocktrans %}<code>scheme</code> contains an unrecognised jurisdiction. An ISO 3166-1 3-digit country code is expected. Check the field description for guidance.{% endblocktrans %}
                </td>
                <td>
                    <code>scheme</code>: {{ additional_check.scheme }}
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
        {% elif additional_check.type == "person_identifiers_not_passport_taxid_idcard" %}
            {# Currently this applies to 0.4+ #}
            <tr>
                <td>
                    {% blocktrans %}<code>scheme</code> has unrecognised type. 'PASSPORT', 'TAXID' or 'IDCARD' is expected. Check the field description for guidance.{% endblocktrans %}
                </td>
                <td>
                    <code>scheme</code>: {{ additional_check.scheme }}
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>
        {% elif additional_check.type == "entity_identifiers_not_known_scheme" %}
            {# Currently this applies to 0.4+ #}
            <tr>
                <td>
                    {% blocktrans %}<code>scheme</code> is unrecognised. A code from org-id.guide is expected. Check the field description for guidance.{% endblocktrans %}
                </td>
                <td>
                    <code>scheme</code>: {{ additional_check.scheme }}
                </td>
                <td>
                    {{ additional_check.statement }}
                </td>
            </tr>

        {% endif %}
    {% endfor %}
    {% if not statistics.count_ownership_or_control_statement_with_at_least_one_interest_beneficial %}
        <tr>
            <td>
                {% blocktrans %}<code>beneficialOwnershipOrControl</code> expected to be 'true' in at least one Statement. If this dataset contains beneficial owners, check that <code>beneficialOwnershipOrControl</code> is correctly used.{% endblocktrans %}
            </td>
            <td>
            </td>
            <td>
                {% blocktrans %}All Relationship statements.{% endblocktrans %}
            </td>
        </tr>
    {% endif %}
    {% for check_not_run_in_sample_mode in checks_not_run_in_sample_mode %}
        {% if  check_not_run_in_sample_mode == "entity_statement_missing" %}
            <tr>
                <td>
                        {% blocktrans %}<code>Entity statement</code> is missing. Check whether an Entity statement is incorrectly referenced from <code>interestedParty</code> or <code>subject</code>, or whether an Entity statement is missing.{% endblocktrans %}
                </td>
                <td>This check is not carried out in Sample mode.</td>
                <td></td>
            </tr>
        {% elif check_not_run_in_sample_mode == "person_statement_out_of_order" %}
            <tr>
                <td>
                        {% blocktrans %}<code>Person statement</code> not in correct order. Check that the Person statement is placed in the array before any statement referencing it.{% endblocktrans %}
                </td>
                <td>This check is not carried out in Sample mode.</td>
                <td></td>
            </tr>
        {% elif check_not_run_in_sample_mode == "statement_is_component_but_is_after_use_in_component_statement_id" %}
            <tr>
                <td>
                        {% blocktrans %}<code>Ownership-or-control statement</code> not in correct order. As a component (<code>isComponent</code> 'true'), it must appear <strong>before</strong> the primary Ownership-or-control statement that references it (from <code>componentStatementIDs</code></).{% endblocktrans %}
                </td>
                <td>This check is not carried out in Sample mode.</td>
                <td></td>
            </tr>
        {% elif check_not_run_in_sample_mode == "statement_is_component_but_not_used_in_component_statement_ids" %}
            <tr>
                <td>
                    {% blocktrans %}<code>Ownership-or-control statement</code> has an <code>isComponent</code> value of 'true' but appears in no <code>componentStatementIDs</code> list. Check that this is expected.{% endblocktrans %}
                </td>
                <td>This check is not carried out in Sample mode.</td>
                <td></td>
            </tr>
        {% elif check_not_run_in_sample_mode == "person_statement_missing" %}
            <tr>
                <td>
                    {% blocktrans %}<code>Person statement</code> is missing. Check whether a Person statement is incorrectly referenced from <code>interestedParty</code>, or whether a Person statement is missing.{% endblocktrans %}
                </td>
                <td>This check is not carried out in Sample mode.</td>
                <td></td>
            </tr>
        {% elif check_not_run_in_sample_mode == "person_statement_not_used_in_ownership_or_control_statement" %}
            <tr>
                <td>
                    {% blocktrans %}<code>Person statement</code> is orphaned. Check whether it should be the <code>interestedParty</code> of a relationship.{% endblocktrans %}
                </td>
                <td>This check is not carried out in Sample mode.</td>
                <td></td>
            </tr>
        {% elif check_not_run_in_sample_mode == "entity_statement_not_used_in_ownership_or_control_statement" %}
            <tr>
                <td>
                    {% blocktrans %}<code>Entity statement</code> is orphaned. Check whether it should be the <code>subject</code> or <code>interestedParty</code> of a relationship.{% endblocktrans %}
                </td>
                <td>This check is not carried out in Sample mode.</td>
                <td></td>
            </tr>
        {% elif check_not_run_in_sample_mode == "duplicate_statement_id" %}
            <tr>
                <td>
                    {% blocktrans %}<code>statementId</code> value used in multiple statements. Different statements should not have the same <code>statementId</code> value.{% endblocktrans %}
                </td>
                <td>This check is not carried out in Sample mode.</td>
                <td></td>
            </tr>
        {% elif check_not_run_in_sample_mode == "entity_statement_out_of_order" %}
            <tr>
                <td>
                    {% blocktrans %}<code>Entity statement</code> not in correct order. Check that the Entity statement is placed in the array before any statement referencing it.{% endblocktrans %}
                </td>
                <td>This check is not carried out in Sample mode.</td>
                <td></td>
            </tr>
        {% elif check_not_run_in_sample_mode == "component_statement_id_not_in_package" %}
            <tr>
                <td>
                    {% blocktrans %}<code>componentStatementIDs</code> contains a <code>statementID</code> not included in this dataset. Check that this is expected.{% endblocktrans %}
                </td>
                <td>This check is not carried out in Sample mode.</td>
                <td></td>
            </tr>
        {% else %}
            <tr>
                <td>{{ check_not_run_in_sample_mode }}</td>
                <td>This check is not carried out in Sample mode.</td>
                <td></td>
            </tr>
        {% endif %}
    {% endfor %}

    </tbody>
</table>
