{% extends 'explore.html' %}
{% load i18n %}
{% load cove_tags %}
{% block header_button %}
  <a href="{% url 'index' %}" class="btn btn-large btn-success">{% trans 'Load New File' %}</a>
{% endblock %}

{% block explore_content %}
    <div class="row">

            <div class="panel panel-success">
                <div id="download-panel" class="panel-heading pointer" role="region" aria-expanded="true" aria-controls="downloadData" data-toggle="collapse" data-target="#downloadData">
                  <h4 class="panel-title">
                    <span class="glyphicon glyphicon-collapse-up"></span>{% trans 'Download Data' %}
                  </h4>
                </div>
                <div id="downloadData" class="collapse in panel-body">

                     {% if conversion == 'flatten' %}
                        <p>We have tried to convert your JSON into a spreadsheet format.</p><p>The results can be seen below.</p>
                        <ul class="list-unstyled left-space">
                          <li>
                            <span class="glyphicon glyphicon-download" aria-hidden="true"></span><a href="{{original_file.url}}">{{JSON}} <small>({{original}})</small></a> <small>{{original_file.size|filesizeformat }}</small>
                          </li>
                          {% if not conversion_error %}
                            <li>
                              <span class="glyphicon glyphicon-download" aria-hidden="true"></span><a href="{{converted_url}}.xlsx">{{xlsx}} <small>({{converted}})</small></a> <small>{{converted_file_size|filesizeformat }}</small>
                            </li>
                          {% endif %}
                        </ul>
                        {% if conversion_error %}
                            <p>{% blocktrans %}The JSON could not be converted to Spreadsheet due to the error:{% endblocktrans %} {{ conversion_error }}</p>

                            {% include 'error_extra.html' %}
                        {% endif %}

                    {% elif conversion == 'unflatten' %}
                        <p>We have tried to convert your data into JSON format.</p><p>The results can be seen below.</p>
                        <ul class="list-unstyled">
                          <li>
                            <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                            <a href="{{original_file.url}}">
                              {% if file_type == 'xlsx' %}
                                {{xlsx}} <small>({{original}})</small>
                              {% elif file_type == 'csv' %}
                                {{csv}} <small>({{original}})</small>
                              {% endif %}
                              </a>
                              <small>{{original_file.size|filesizeformat }}</small>
                            </li>
                            <li>
                              <span class="glyphicon glyphicon-download" aria-hidden="true"></span><a href="{{converted_url}}">{{JSON}} <small>({{converted}})</small></a> <small>{{converted_file_size|filesizeformat }}</small>
                            </li>
                        </ul>

                    {% else %}
                        <ul class="list-unstyled">
                          <li>
                            <span class="glyphicon glyphicon-download" aria-hidden="true"></span><a href="{{original_file.url}}">{{JSON}} <small>({{original}})</small></a> <small>{{original_file.size|filesizeformat }}</small>
                            {% if conversion == 'flattenable' %}
                              <br/>
                              <br/>
                              <form method="post">
                                <button name="flatten" value="true" type="submit" class="btn btn-success btn-sm">{% blocktrans %}Convert to Spreadsheet{% endblocktrans %}</button>
                                {% csrf_token %}
                              </form>
                            {% endif %}
                          </li>
                        </ul>
                    {% endif %}


                </div>
              </div>
    </div>

    <div class="row">

        {% block key_facts %}
        {% endblock %}

        {% if validation_errors %}
              {% for error_json, values in validation_errors %}
                {% with error=error_json|json_decode %}
                  {% cove_modal_errors className="validation-errors-"|concat:forloop.counter modalTitle=error.message errorList=values file_type=file_type full_table=True %}
                {% endwith %}
              {% endfor %}


              <a name="validation-errors" class="anchor"></a>
              <div class="panel panel-danger">
                <div id="validation-panel" class="panel-heading pointer" role="region" aria-expanded="true" aria-controls="validationTable" data-toggle="collapse" data-target="#validationTable">
                  <h4 class="panel-title">
                    <span class="glyphicon glyphicon-collapse-up"></span>{% trans 'Validation Errors' %}
                  </h4>
                </div>
                <div id="validationTable" class="collapse in panel-body">
                  {% include "validation_table.html" %}
                </div>
              </div>
        {% else %}
             <div class="panel panel-success">
                <div id="validation-panel" class="panel-heading pointer" role="region" aria-expanded="true" aria-controls="validationTable" data-toggle="collapse" data-target="#validationTable">
                  <h4 class="panel-title">
                    <span class="glyphicon glyphicon-collapse-up"></span>{% trans 'Validation Errors' %}
                  </h4>
                </div>
                <div id="validationTable" class="collapse in panel-body">
                    <p>{% trans 'There were no validation errors!' %}</p>
                </div>
              </div>
        {% endif %}

    </div>



    <div class="row">

        {% if additional_fields_count %}

              <a name="additional-fields" class="anchor"></a>
              <div class="panel panel-danger">
                <div id="validation-panel" class="panel-heading pointer" role="region" aria-expanded="true" aria-controls="validationTable" data-toggle="collapse" data-target="#additionalFieldsTable">
                  <h4 class="panel-title">
                    <span class="glyphicon glyphicon-collapse-up"></span>{% trans 'Additional Fields' %}
                  </h4>
                </div>
                <div id="additionalFieldsTable" class="collapse in panel-body">
                  {% include "additional_fields_table.html" %}
                </div>
              </div>
        {% else %}
             <div class="panel panel-success">
                <div id="validation-panel" class="panel-heading pointer" role="region" aria-expanded="true" aria-controls="validationTable" data-toggle="collapse" data-target="#additionalFieldsTable">
                  <h4 class="panel-title">
                    <span class="glyphicon glyphicon-collapse-up"></span>{% trans 'Additional Fields' %}
                  </h4>
                </div>
                <div id="additionalFieldsTable" class="collapse in panel-body">
                    <p>{% trans 'There were no additional fields!' %}</p>
                </div>
              </div>
        {% endif %}

    </div>

    <div class="row">

        {% if additional_checks_count %}

              <a name="additional-checks" class="anchor"></a>
              <div class="panel panel-danger">
                <div id="validation-panel" class="panel-heading pointer" role="region" aria-expanded="true" aria-controls="validationTable" data-toggle="collapse" data-target="#additionalChecksTable">
                  <h4 class="panel-title">
                    <span class="glyphicon glyphicon-collapse-up"></span>{% trans 'Additional Checks' %}
                  </h4>
                </div>
                <div id="additionalChecksTable" class="collapse in panel-body">
                  {% include "cove_bods/additional_checks_table.html" %}
                </div>
              </div>
        {% else %}
             <div class="panel panel-success">
                <div id="checks-panel" class="panel-heading pointer" role="region" aria-expanded="true" aria-controls="validationTable" data-toggle="collapse" data-target="#additionalChecksTable">
                  <h4 class="panel-title">
                    <span class="glyphicon glyphicon-collapse-up"></span>{% trans 'Additional Checks' %}
                  </h4>
                </div>
                <div id="additionalChecksTable" class="collapse in panel-body">
                    <p>{% trans 'All checks passed!' %}</p>
                </div>
              </div>
        {% endif %}

    </div>

    <div class="row">
        <div class="panel panel-success">
            <div id="statistics-panel" class="panel-heading pointer" role="region" aria-expanded="true"
                 aria-controls="validationTable" data-toggle="collapse" data-target="#statisticsTable">
                <h4 class="panel-title">
                    <span class="glyphicon glyphicon-collapse-up"></span>{% trans 'Statistics' %}
                </h4>
            </div>
            <div id="statisticsTable" class="collapse in panel-body">


                <h4>{% trans 'Entity Statements' %}</h4>

                <p>{% trans 'Total Statements' %}: {{ statistics.count_entity_statements }}</p>

                {% for key, count in statistics.count_entity_statements_types.items %}
                    {% if count > 0 %}
                        <p>
                            {% blocktrans %} ... with type {{ key }}{% endblocktrans %}:
                            {{ count }}
                            ({% widthratio count statistics.count_entity_statements 100 %}%)
                        </p>
                    {% endif %}
                {% endfor %}

                {% if statistics.count_entities_registeredEntity_legalEntity %}
                    <p>
                        {% blocktrans %}% of registered or legal entities with any identifier{% endblocktrans %}:
                        {% widthratio statistics.count_entities_registeredEntity_legalEntity_with_any_identifier statistics.count_entities_registeredEntity_legalEntity 100 %}%
                    </p>

                    <p>
                        {% blocktrans %}% of registered or legal entities with an identifier that have a 'strict' identifier{% endblocktrans %}:
                        {% widthratio statistics.count_entities_registeredEntity_legalEntity_with_any_identifier_with_id_and_scheme statistics.count_entities_registeredEntity_legalEntity_with_any_identifier 100 %}%
                    </p>
                {% endif %}

                <h4>{% trans 'Person Statements' %}</h4>

                <p>{% trans 'Total Statements' %}: {{ statistics.count_person_statements }}</p>

                {% for key, count in statistics.count_person_statements_types.items %}
                    {% if count > 0 %}
                        <p>
                            {% blocktrans %} ... with type {{ key }}{% endblocktrans %}:
                            {{ count }}
                            ({% widthratio count statistics.count_person_statements 100 %}%)
                        </p>
                    {% endif %}
                {% endfor %}

                {% if statistics.count_person_statements_have_pep_status_and_reason_missing_info %}
                    <p>
                        {% trans '... where PEP status is declared AND (erroneously) a reason for missing PEP information is given' %}:
                        {{  statistics.count_person_statements_have_pep_status_and_reason_missing_info }}
                        ({% widthratio statistics.count_person_statements_have_pep_status_and_reason_missing_info statistics.count_person_statements 100 %}%)
                    </p>
                {% endif %}

                <h4>{% trans 'Ownership or Control Statements' %}</h4>

                <p>{% trans 'Total Statements' %}: {{ statistics.count_ownership_or_control_statement }}</p>

                {% if statistics.count_ownership_or_control_statement_interested_party_with_person %}
                    <p>
                        {% trans ' ... where interested party is a person' %}:
                        {{ statistics.count_ownership_or_control_statement_interested_party_with_person }}
                        ({% widthratio statistics.count_ownership_or_control_statement_interested_party_with_person statistics.count_ownership_or_control_statement 100 %}%)
                    </p>
                {% endif %}
                {% if statistics.count_ownership_or_control_statement_interested_party_with_entity %}
                    <p>
                        {% trans ' ... where interested party is a entity' %}:
                        {{ statistics.count_ownership_or_control_statement_interested_party_with_entity }}
                        ({% widthratio statistics.count_ownership_or_control_statement_interested_party_with_entity statistics.count_ownership_or_control_statement 100 %}%)
                    </p>
                {% endif %}
                {% if statistics.count_ownership_or_control_statement_interested_party_with_unspecified %}
                    <p>
                        {% trans ' ... where interested party is unspecified' %}:
                        {{ statistics.count_ownership_or_control_statement_interested_party_with_unspecified }}
                        ({% widthratio statistics.count_ownership_or_control_statement_interested_party_with_unspecified statistics.count_ownership_or_control_statement 100 %}%)
                    </p>
                {% endif %}

                <p>{% trans 'Total Interest Statements' %}: {{ statistics.count_ownership_or_control_interest_statement }}</p>

                {% for key, count in statistics.count_ownership_or_control_statement_interest_statement_types.items %}
                    {% if count > 0 %}
                        <p>
                            {% blocktrans %} ... with type {{ key }}{% endblocktrans %}:
                            {{ count }}
                            ({% widthratio count statistics.count_ownership_or_control_interest_statement 100 %}%)
                        </p>
                    {% endif %}
                {% endfor %}

                {% if statistics.count_replaces_statements_missing %}
                    <h4>{% trans 'Misc' %}</h4>

                    <p>
                        {% trans 'Count of previous statements that are referenced from replacesStatement and are missing' %}:
                        {{ statistics.count_replaces_statements_missing }}
                    </p>
                {% endif %}

            </div>
        </div>
    </div>


{% endblock explore_content %}


{% block topcontent1 %}
{% endblock %}
{% block bottomcontent1 %}
{% endblock %}
{% block bottomcontent2 %}
{% endblock %}
